.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.socialI {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.socialF {
	background: #3A559F;
}

.socialW {
	background: #00A82D;
}

.socialI:first-child {
	border-radius: 1rem 0 0 0;
}

.socialI:last-child {
	border-radius: 0 0 0 1rem;
}

.socialI:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 1rem rgba(71,185,255,1);
}